*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.link,
.link:visited,
.link:active {
  text-decoration: none;
  font-size: 1.5rem; }

.heading-primary {
  font-size: 4rem;
  text-transform: uppercase; }

.u-heading-main {
  font-family: "Righteous", cursive; }

.u-heading-main {
  font-size: 10rem;
  text-align: center;
  -webkit-box-decoration-break: clone;
  letter-spacing: 3rem; }

.btn {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #c9d4cc;
  padding: 1rem 3rem;
  border-radius: 30px;
  background-image: linear-gradient(to right bottom, #779f5d, #304675 40%); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(119, 159, 93, 0.5), rgba(48, 70, 117, 0.5) 40%), url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__logo {
    height: 10rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: rotate(-20deg); }
  .header__logo-text {
    width: 50rem;
    border-radius: 30px;
    background-image: linear-gradient(to right bottom, rgba(119, 159, 93, 0.5), rgba(48, 70, 117, 0.5) 40%);
    color: #c9d4cc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__button {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%); }
