//white
$color-white-1: #fff;
$color-white-2: #fffaf2;
$color-white-3: #f7e9d3;

//black
$color-black: #000;
$color-black-1: #292327;
$color-black-2: #1f151b;

//cream
$color-cream-dark: #c6a9a3;
$color-cream-light: #ebd8b7;

//green
$color-green-light: #99bbad;
$color-green-dark-1: #667e74;
$color-green-dark-2: #3a6a57;

//margins
$margin-big: 10rem;

//heights
$height-small: 5rem;
$height-medium: 10rem;

//border thickness
$border-small: 2px;
//border radius
$border-radius-small: 6px;
