.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-green-light-2, 0.5),
      rgba($color-blue, 0.5) 40%
    ),
    url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &__logo {
    height: 10rem;

    position: absolute;
    top: 3rem;
    left: 3rem;
    transform: rotate(-20deg);
  }

  &__logo-text {
    width: 50rem;
    border-radius: 30px;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-green-light-2, 0.5),
      rgba($color-blue, 0.5) 40%
    );

    color: $color-green-light-1;

    @include absoluteCenter;
  }
  &__button {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
