.hero {
  display: block;
  height: 100%;
  &__heading {
    display: block;
    text-align: center;

    height: $height-medium;
  }

  &__logo,
  &__image-box,
  &__image {
    height: 100%;
  }

  &__image-box,
  &__image {
    display: inline-block;
  }
}
